*{
    margin: 0;
}

.contenedor{
    background: #ff7ea8 ;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large ;
    padding: 15%;
}

button{
    font-size: xx-large ;
    padding: 0.75em;
}

#yesBtn{
    background: #ca79ca ;
    transform: translate(-100%,0) ;
}

#noBtn{
    background: #ca79ca ;
    position: absolute;
}